body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: sans-serif;

    nav {
        width: 100%;
        height: 10%;
        background-color: lightblue;

        div {
            display: inline-block;
            width: 50%;
            height: 100%;

            a {
                display: inline-block;
                width: 20%;
                height: 100%;
                padding-top: 4vh;
                box-sizing: border-box;
                text-align: center;
                font-size: 3vh;

                @media (max-aspect-ratio: 1.778) {
                    font-size: 2vw;
                }

                color: white;
            }

            a:hover {
                background-color: lightskyblue;
                color: black;
            }
        }

        #nav-right {
            float: right;

            a {
                float: inherit;
            }
        }
    }

    main {
        display: flex;
        justify-content: space-evenly;
        width: 100%;

        div {
            float: left;
            width: 25%;
            margin: 5vh 0;
            padding: 3vh 1%;
            border: solid 0.3vw;
            border-radius: 1vw;
            background-color: lightblue;

            h1 {
                width: 100%;
                margin-top: 0;
                margin-bottom: 5vh;
                text-align: center;
                font-size: 5vh;

                @media (max-aspect-ratio: 1.778) {
                    font-size: 3vw;
                }
            }

            ul,
            p {
                width: 90%;
                //no height because it's a container of unknown length
                margin: auto;
                padding: 1vh 2%;
                border: 0.1vw solid whitesmoke;
                border-radius: 0.5vw;
                box-sizing: border-box;
                font-size: 2vh;

                @media (max-aspect-ratio: 1.778) {
                    font-size: 1vw;
                }

                li {
                    width: 90%;
                    box-sizing: border-box;
                    margin: 1vh auto;
                    padding: 1vh 10%;
                    border: 1px solid whitesmoke;
                    border-radius: 0.4vw;
                    background-color: whitesmoke;
                    list-style-type: none;
                    cursor: pointer;
                }

                .checked {
                    background-color: palegreen;
                    color: limegreen;
                    text-decoration: line-through;
                }
            }
        }
    }
}