body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;

    nav {
        width: 100%;
        height: 10%;
        background-color: lightblue;

        div {
            display: inline-block;
            width: 50%;
            height: 100%;

            a {
                display: inline-block;
                width: 20%;
                height: 100%;
                padding-top: 4vh;
                box-sizing: border-box;
                text-align: center;
                color: white;
            }

            a:hover {
                background-color: lightskyblue;
                color: black;
            }
        }

        #nav-right {
            float: right;

            a {
                float: inherit;
            }
        }
    }

    #todo-list {
        display: inline-block;
        width: 25%;
        margin: 5vh 5%;
        padding: 3vh 1%;
        border: solid 0.3vw;
        border-radius: 1vw;
        background-color: lightblue;

        #todo-list-title {
            width: 100%;
            margin-top: 0;
            margin-bottom: 5vh;
            text-align: center;
        }

        #todos {
            width: 90%;
            //no height because it's a container of unknown length
            margin: auto;
            padding: 0;
            border: 0.1vw solid whitesmoke;
            border-radius: 0.5vw;
            box-sizing: border-box;

            .todo {
                width: 90%;
                list-style-type: none;
                margin: 1vh auto;
                padding: 1vh;
                border: 1px solid whitesmoke;
                border-radius: 0.4vw;
                background-color: whitesmoke;
                cursor: pointer;
            }

            .checked {
                background-color: palegreen;
                color: limegreen;
                text-decoration: line-through;
            }
        }
    }
}