body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: sans-serif;

    nav {
        width: 100vw;
        height: 10vh;
        margin: 0;
        background-color: lightblue;

        div {
            display: flex;
            justify-content: center; //horizontal
            align-items: center; //vertical
            height: 10vh;

            a {
                height: 10vh;
                text-align: center;
                font-size: 3vh;
                color: white;
                text-decoration: none;

                @media (max-aspect-ratio: 1.778) {
                    font-size: 1.7vw; //= vh / 1.778 (seems to work)
                }

                div {
                    margin: 0 1vw;
                }
            }

            a:hover {
                background-color: lightskyblue;
                color: black;
            }
        }

        #nav-left {
            float: left;

            a {
                float: inherit;
            }
        }

        #nav-right {
            float: right;

            a {
                float: inherit;
            }
        }
    }

    main {
        display: flex;
        justify-content: space-evenly;
        width: 100vw;

        #about,
        #todo-list,
        #todo-lists {
            float: left;
            width: 25vw;
            border: solid 0.3vw;
            border-radius: 1vw;
            background-color: lightblue;

            h1 {
                width: 25vw;
                text-align: center;
                font-size: 5vh;

                @media (max-aspect-ratio: 1.778) {
                    font-size: 2.8vw; //= vh / 1.778 (seems to work)
                }
            }

            ul,
            p {
                width: 20vw;
                border: 0.1vw solid whitesmoke;
                border-radius: 0.5vw;
                font-size: 2vh;

                @media (max-aspect-ratio: 1.778) {
                    font-size: 1.1vw; //= vh / 1.778 (seems to work)
                }

                li {
                    width: 15vw;
                    border: 1vw solid whitesmoke;
                    border-radius: 0.4vw;
                    background-color: whitesmoke;
                    list-style-type: none;
                    cursor: pointer;

                    div,
                    a {
                        text-decoration: none;
                    }
                }

                .checked {
                    background-color: palegreen;
                    color: limegreen;
                    text-decoration: line-through;
                }
            }
        }
    }
}